.boton{
    padding: 0.5rem;
    border: none;
    background-color: rgb(207, 60, 15);
    color: white;
}

.boton:hover{
    background-color: rgb(141, 20, 20);
    cursor: pointer;
}

.input{
    text-align: left;
    
}