.wire-button, .fill-button{
    font-weight: bold;
    padding: 0.5rem 2.5rem;
    border-radius: calc(infinity * 1px);
    cursor: pointer;

    transition: 0.3s;
}

.wire-button{
    background-color: transparent;
    border: solid;
}

.wire-button:hover{
    background-color: var(--main-color);
    color: white;
    border: none;
}

.fill-button{
    background-color: var(--enf-color);
    border: none;
    color: white;
}

.wire-button:hover{
    background-color: var(--main-color);
    color: white;
    border: none;
}

.boton:hover{
    background-color: rgb(141, 20, 20);
    cursor: pointer;
}

.input{
    text-align: left;
    border: none;
    padding: 0.2rem;
}